.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.page .header {
    display: flex;
    flex-direction: row;
}

.page .content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.page .footer {
    display: flex;
    flex-direction: row;
    background-color: #bebebe;
}
